<div class="jumbotron">
    <div class="container">
        <h1>Foundry Management Console</h1>

        <p>This web app allows management of the Foundry ElasticSearch document processing pipeline
            including creation of new resources,
            interactive development and testing of transformation scripts and a dashboard.</p>
<!--
        <p><a class="btn btn-primary btn-lg"  ui-sref="transform" role="button">Transform</a></p>
-->
        <p><a class="btn btn-primary btn-lg"  ui-sref="sources" role="button">Login &raquo;</a></p>
    </div>
</div>